div.content-passwords
  h2
    | My passwords
    input(type=search, placeholder="Find password", v-model=search)

  div.new-form-overlay(:class="{ opened: formOpened }")
  div.new-form-action(:class="{ opened: formOpened }")
    button.action-button(:data-tooltip="formOpened ? 'Close' : 'New password'", @click="toggleForm")
    transition(name="fade")
      div.new-form(v-if="formOpened")
        passwords-new

  passwords-list
