div.setup-content
  h1(v-if="$store.state.setup.first")
    | Welcome to
    span.logo-start  DOOR
    span.logo-end LOCK
    | !
  h1(v-else-if="!$store.state.setup.done")
    | Welcome back!

  p.description(v-if="$store.state.setup.first") Before you start, you have to choose the master password. This password
    |  will be used to encrypt/decrypt all the data, so don't forget it!

  div.setup-error(v-if="$store.state.setup.error")
    span(v-if="$store.state.setup.first") Oops! Seems like there is a mistake in your passwords...
    span(v-else-if="!$store.state.setup.done") Incorrect password, try again!

  form#setup(v-if="$store.state.setup.first")
    div.form-group.half
      label(for="password") Password
      input(id="password", type="password", v-model="password", @blur="validatePassword(true)", class="validate")
      span.validation(v-if="passwordValidation.text", :class="passwordValidation.valid ? 'valid' : 'invalid'")
        | {{ passwordValidation.text }}
    div.form-group.half
      label(for="passwordAgain") Confirm password
      input(id="passwordAgain", type="password", v-model="passwordAgain", @blur="validatePasswordAgain()", class="validate")
      span.validation(v-if="passwordAgainValidation.text", :class="passwordAgainValidation.valid ? 'valid' : 'invalid'")
        | {{ passwordAgainValidation.text }}
    div.form-group
      button(@click.prevent="setup") I'm ready!
  form#setup_login(v-else-if="!$store.state.setup.done")
    div.form-group
      label(for="password_login") Password
      input(id="password_login", type="password", v-model="passwordLogin")
    div.form-group
      button(@click.prevent="auth") Enter
