$navHeight: 68px

.wrapper
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  max-width: 100%
  width: 820px
  height: 100%
  margin: 0 auto
  font-family: 'Lato', sans-serif
  transition: .2s ease-in-out

  &.blur
    filter: blur(10px)

  .header
    display: inline-flex
    position: relative
    width: auto
    height: auto
    margin: 24px 0 0 0

    a
      position: relative
      display: inline-block
      height: 38px
      width: 38px
      margin-left: 12px
      font-family: 'Montserrat', sans-serif

      &:first-of-type
        background: url('../assets/settings_filled.svg') center no-repeat
        background-size: 14px

      &:last-of-type
        margin-left: 2px
        background: url('../assets/profile.svg') center no-repeat
        background-size: 32px

    h1
      position: relative
      height: auto
      display: inline-block
      text-align: center
      background: url('../assets/door-lock.svg') left center no-repeat
      background-size: 1.4rem
      font-weight: 400
      margin: 0
      color: #85959c
      padding-left: 24px
      font-family: 'Montserrat', sans-serif

      span
        color: #ffc011
        font-family: 'Montserrat', sans-serif

  nav
    position: relative
    display: inline-block
    width: auto
    height: $navHeight
    margin: 0 0 18px 0

    a
      position: relative
      display: inline-block
      width: auto
      height: 100%
      line-height: $navHeight
      box-sizing: border-box
      padding: 0 18px
      background: left -24px center no-repeat
      background-size: 24px
      overflow: hidden
      color: darkcyan
      text-decoration: none
      opacity: .8
      transition: .2s ease-in-out

      &:not([href])
        padding: 0
        color: grey

      &:hover
        opacity: 1

      &.router-link-active
        color: #e0a810
        padding-left: 56px
        background: left 18px center no-repeat
        background-size: 24px
        text-shadow: 1px 1px 4px rgba(0,0,0,.06)
        opacity: 1

      &.passwords
        background-image: url('../assets/passwords.svg')

      &.authentication
        background-image: url('../assets/authentication.svg')

      &.encryption
        background-image: url('../assets/encryption.svg')

  .content
    display: inline-block
    position: relative
    width: 100%
    height: auto

.setup-modal-overlay
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: fixed
  background: rgba(255,255,255,.8)
  z-index: 97

.setup-modal
  display: flex
  justify-content: center
  align-items: center
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: fixed
  z-index: 98

