*:focus
  outline: none

*::-moz-focus-inner
  border: 0

*
  font-family: 'Lato', sans-serif

.new-form-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: linear-gradient(-45deg, white, rgba(255,255,255,.2)) bottom left
  background-size: 400%
  visibility: hidden
  opacity: 0
  z-index: 998
  transition: .6s ease-in-out

  &.opened
    visibility: visible
    opacity: 1
    background-size: 100%

.new-form-action
  position: fixed
  display: block
  width: 56px
  height: 56px
  bottom: 48px
  right: 48px
  z-index: 999
  transition: .2s ease-in-out

  &.opened
    width: 36px
    height: 36px

    button.action-button
      background: #ff154c url('../assets/close_white.svg') center no-repeat
      border-radius: 18px
      bottom: 20px
      right: 18px

      &:hover
        box-shadow: 0 2px 8px rgba(0,0,0,.1)

  button.action-button
    position: relative
    bottom: 0
    right: 0
    display: block
    width: 100%
    height: 100%
    outline: none
    border: none
    border-radius: 50%
    cursor: pointer
    background: #e0a810 url("../assets/plus.svg") center no-repeat
    background-size: 20px
    font-family: 'Lato', sans-serif
    box-shadow: 0 2px 8px rgba(0,0,0,.15)
    transition: .2s ease-in-out

    &:after
      content: attr(data-tooltip)
      position: absolute
      top: 50%
      right: 100%
      width: auto
      white-space: nowrap
      transform: translateY(-50%)
      padding: 8px 10px 8px 10px
      box-sizing: border-box
      background: darkslategray
      overflow: hidden
      max-width: 0
      color: white
      font-size: .9rem
      border-radius: 3px
      opacity: 0
      transition: .2s 0s ease-in-out

    &:hover
      box-shadow: 0 3px 8px rgba(0,0,0,.3)

      &:after
        right: calc(100% + 12px)
        max-width: 120px
        opacity: 1
        transition: .2s .6s ease-in-out

  .new-form
    padding: 28px
    display: block
    position: absolute
    bottom: -8px
    right: -8px
    width: 0
    overflow: hidden
    border-radius: 28px
    z-index: -1
    background: white
    box-shadow: 0 8px 64px rgba(0,0,0,.1)
    border: 1px solid #f2f2f2

    form
      margin-top: 0
      width: 420px

    h3
      font-size: 1.6rem
      margin: 0 0 12px 0
      color: #3c3c3c

  &.opened .new-form
    width: 420px

form
  display: inline-block
  width: 100%
  margin: 8px 0 0 0

  div.form-group
    display: inline-flex
    flex-direction: column
    position: relative
    width: 100%
    height: auto
    float: left
    margin-bottom: 12px
    box-sizing: border-box

    &:last-of-type
      margin-bottom: 0

    &.half
      width: 50%

      &:nth-of-type(2n + 1)
        padding-right: 6px

      &:nth-of-type(2n)
        padding-left: 6px

    label
      color: #444
      font-weight: 600

    input:not([type=checkbox], [type=radio], [type=submit])
      padding: 0
      height: 32px
      width: 100%
      box-sizing: border-box
      border: none
      border-bottom: 2px solid #e0e0e0
      outline: none

      &.validate
        padding-right: 26px

    textarea
      padding: 0
      resize: vertical
      height: 56px
      width: 100%
      box-sizing: border-box
      border: none
      border-bottom: 2px solid #e0e0e0
      outline: none

      &.validate
        padding-right: 26px

    span.validation
      position: relative
      width: 100%
      font-size: .8rem
      box-sizing: border-box
      margin-top: 6px
      z-index: 1

      &:before
        content: ''
        position: absolute
        right: 4px
        top: -32px
        width: 20px
        height: 20px

      &.invalid
        color: red

        &:before
          background: url('./../assets/warning.svg') right top no-repeat
          background-size: 20px

      &.valid
        color: green

        &:before
          background: url('./../assets/check.svg') right top no-repeat
          background-size: 20px

    button
      display: inline-block
      position: relative
      cursor: pointer
      height: 38px
      width: auto
      box-sizing: border-box
      padding: 0 12px
      background: #ffc011
      border: none
      outline: none
      color: white
      font-family: 'Lato', sans-serif
      font-size: 1.2rem
      font-weight: 600
      margin-top: 4px
      transition: .2s ease-in-out
      box-shadow: 0 2px 6px rgba(0,0,0,.06)

      &:hover
        box-shadow: 0 4px 18px rgba(0,0,0,.1)

.empty
  display: inline-block
  position: relative
  width: 100%
  font-size: 2rem
  color: #a7a7a7
  margin-top: 24px

  small
    font-size: 1.2rem

// Animations
.fade-enter-active, .fade-leave-active
  transition: .3s ease-in-out

.fade-enter-active
  animation: fade .3s

.fade-leave-active
  animation: fade .3s reverse

.fade-enter, .fade-leave-to
  opacity: 0

@keyframes fade
  0%
    width: 0
    max-height: 0
  100%
    width: 420px
    max-height: none
