div.setup-content
  display: block
  width: 640px
  max-width: 95%
  height: auto
  box-sizing: border-box
  background: #fff
  box-shadow: 0 8px 64px rgba(0,0,0,.1)
  border: 1px solid #f2f2f2
  border-radius: 12px
  padding: 18px

  h1
    color: #333
    font-size: 2rem
    margin: 0

    span
      font-family: 'Montserrat', 'Lato', sans-serif
      color: #85959c
      &.logo-end
        color: #ffc011

  p.description
    margin: 4px 0
    font-size: .92rem
