div.passwords-list-item
  span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut beatae consequuntur corporis culpa cupiditate, ducimus ipsa minus non possimus quod, ratione reiciendis veniam voluptates voluptatum! Atque itaque labore omnis?
