div.passwords-list
  span.empty(v-if="passwords.length < 1") Nothing to see here
    br
    small Add new password first
  passwords-list-item(v-for="(password, index) in passwords", :data="password", :key="index")
