form#new-password
  h3 New password
  div.form-group
    label Title
    input(type="text", v-model="title")
  div.form-group
    label Details
    textarea(v-model="detail")
  div.form-group
    label Service / Website
    select(v-model="service")
  div.form-group
    label Password
    input(type="password", v-model="password")
  div.form-group.half
    button Save password
